$lead: hsla(0, 0%, 24%, 1);
$font: #0a3458;
$main-color: hsla(192, 57%, 32%, 1);
$font-white: white;
$help: hsla(0, 0%, 54%, 1);
$submit-btn: hsla(60, 61%, 61%, 1);
$submit-btn-hover: hsla(60, 61%, 52%, 1);
$danger-btn: hsla(0, 66%, 49%, 1);
$danger-btn-hover: hsla(0, 75%, 38%, 1);
$transparent-btn: hsla(192, 57%, 32%, 1);
$transparent-btn-hover: hsla(192, 57%, 22%, 1);
$back-btn: hsla(0, 0%, 94%, 1);
$back-btn-hover: hsla(0, 0%, 84%, 1);
$subtle-gray: hsla(0, 0%, 94%, 1);
$anchor: hsla(192, 57%, 42%, 1);
$liked: hsla(51, 90%, 34%, 1);
