.contain {
  margin: 0 2em;
  padding: 32pt 0;
}

.group-contain {
  border: 1px solid lightgray;
  padding: 16pt;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-grow {
  flex-grow: 1;
}
