.contain {
  margin: 0 2em;
  padding: 24pt 0 0 0;
}

.group-contain {
  border: 1px solid lightgray;
  padding: 16pt;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

// display flex - Apply to a parent
.d-flex {
  display: flex;
}

// Justify content: space between - Apply to a parent
.justify-space-between {
  justify-content: space-between;
}
