.profile__item {
  width: calc(25%);
  margin-bottom: 20pt;
}

.profile__item-content {
  min-width: 100pt;
  height: 100%;
  width: 90%;
  border: 1px solid lightgray;
  text-align: center;
  padding: 0 4pt;
  margin: 10pt;
  &__image-container {
    padding: 8pt;
    &-image {
      width: 120px;
    }
  }
  &__button-container {
    padding: 16pt 16pt 0 16pt;
    &-button {
      width: 100%;
    }
  }
}
