@import "styles/colors";

.profile-creds {
  margin: 0 2em;
  &__cred {
    border: none;
    border-top: none;
    &-info {
      display: flex;
      flex-direction: row;

      &-icon {
        width: 5em;
        height: 5em;
        margin-right: 16pt;
        &--green {
          color: seagreen;
        }
        &--golden {
          color: darkgoldenrod;
        }
      }
      &-details {
        display: flex;
        flex-direction: column;
      }
      &-description {
        padding-bottom: 16pt;
        &--preserve {
          white-space: pre-line;
        }
      }
    }
  }
}
