.profile-item {
  min-width: 100pt;
  width: calc(25%);
  border: 1px solid lightgray;
  text-align: center;
  &__image-container {
    padding: 8pt;
    &-image {
      width: 120px;
    }
  }
  &__button-container {
    padding: 16pt;
    &-button {
      width: 100%;
    }
  }
}
