.mt-half {
  margin-top: 4pt;
}

.mt1 {
  margin-top: 8pt;
}

.mt2 {
  margin-top: 16pt;
}

.mt3 {
  margin-top: 24pt;
}

.mt4 {
  margin-top: 32pt;
}

.mb1 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 8pt;
}

.mb2 {
  margin-bottom: 16pt;
}

.mb3 {
  margin-bottom: 24pt;
}

.mb4 {
  margin-bottom: 32pt;
}

.mr-half {
  margin-right: 4pt;
}

.mr1 {
  margin-right: 8pt;
}

.mr2 {
  margin-right: 16pt;
}

.ml1 {
  margin-left: 8pt;
}

.ml2 {
  margin-left: 16pt;
}

.m2 {
  margin: 16pt;
}

.pb0 {
  padding-bottom: 0;
}

.pr2 {
  padding-right: 8pt;
}

.text-center {
  text-align: center;
}
