@import "styles/Landing";
@import "styles/fonts";
@import "styles/colors";
@import "styles/buttons";
@import "styles/spacing";
@import "styles/layout";
@import "styles/utils";
@import "styles/Navbar";
@import "styles/ProfileItem";
@import "styles/Chat";
@import "styles/Login";
@import "styles/Register";
@import "styles/CreateProfile";
@import "styles/ProfileHeader";
@import "styles/ProfileAbout";
@import "styles/ProfileCreds";
@import "styles/ProfileSkills";
@import "styles/ProfileGithub";
@import "styles/Posts";
@import "styles/SearchJobs";
@import "styles/InternalJobs";
@import "styles/CVForm";
@import "styles/utils";
@import "styles/Forms";
@import "styles/LoadingText";
@import "styles/SuccessIcon";
@import "styles/ErrorIcon";
@import "styles/Spinner";

body,
html {
  height: 100%;
  font: $font;
  line-height: 1;
  background: hsla(0, 0%, 94%, 1);
}

.main-content {
  max-width: 1000px;
  min-height: 600px;
  margin: auto;
  background: white;
}
